img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
}
.list {
    flex: 0 0 25%;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;

}
.gifts .list {
    display: flex;
    justify-content: space-between;
}